.works {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  display: block;
}

.card-content {
  box-sizing: border-box;
  border-left: $border #eeeeee;
  border-right: $border #eeeeee;
  border-bottom: $border #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.works-element {
  width: 450px;
  height: 404px;
  margin-bottom: 30px;
  border: $border #eeeeee;

  transition-property: box-shadow;
  transition-duration: $transitionDuration;
  transition-timing-function: $timingFunction;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  // &:nth-child(3n) {
  //   margin-right: 0;
  // }

  @media screen and (max-width: 767px) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.projects {
  margin-top: 0;
  margin-bottom: 4px;
}
.projects-title {
  margin: 0;
}

.works .projects {
  color: $titleTextColor;
  font-weight: $fontWeightBold;
  font-size: $fontSizeBig;
  line-height: 2;
  letter-spacing: $letterSpacingSecondary;
}

.works .projects-title {
  color: $primaryTextColor;
  font-weight: $fontWeightRegular;
  font-size: $fontSizeMedium;
  line-height: 1.87;
}

.works .link {
  text-decoration: none;
}
