.clients-list {
  @extend %list;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.clients-item {
  display: block;
  margin-right: 30px;
  width: 170px;
  height: 90px;

  transition-property: fill;
  transition-duration: $transitionDuration;
  transition-timing-function: $timingFunction;

  &:nth-child(6n) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.client-logo {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  content: '';
  width: 170px;
  height: 90px;
  box-sizing: border-box;
  border-radius: 4px;
  border: $border #afb1b8;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  color: #afb1b8;
  fill: currentColor;

  transition-property: color, fill;
  transition-duration: $transitionDuration;
  transition-timing-function: $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
    border: $border $accentColor;
  }
}
