.feature-list {
  @extend %list;
  display: inline-block;

  @media screen and (min-width: $tabletWidth) {
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    display: flex;
    justify-content: center;

    margin-top: 0;
    margin-bottom: 10px;
    color: $titleTextColor;
    font-weight: $fontWeightBold;
    font-size: $fontSizeSmall;
    line-height: $lineHeightSmall;

    @media screen and (min-width: $tabletWidth) {
      display: block;
    }
  }

  .text {
    font-weight: $fontWeightRegular;
    margin: 0;
  }
}

.feature-item {
  width: 450px;
  margin-bottom: 30px;

  &:nth-child(4n) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tabletWidth) {
    width: 354px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }

    @media screen and (min-width: $desktopWidth) {
      width: 270px;
      margin-right: 30px;
      margin-bottom: 0;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 450px;
  height: 120px;
  background-color: $secondaryBgColor;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: $tabletWidth) {
    width: 354px;
  }

  @media screen and (min-width: $desktopWidth) {
    width: 270px;
  }
}

.feature-icon {
  width: 70px;
  height: 70px;
}
