textarea {
  resize: none;
}

.form {
  min-width: 320px;
  margin: 0;
  padding: 40px;
}

.form-title {
  width: 100%;

  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  color: $titleTextColor;

  font-weight: $fontWeightBold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: $letterSpacingPrimary;

  @media screen and (min-width: $desktopWidth) {
    line-height: 1.15;
  }
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: $lineHeightMedium;
  letter-spacing: 0.01em;
  color: $primaryTextColor;
}

.form-input {
  margin: 0;
  border: $border rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  color: rgba(117, 117, 117, 0.5);

  width: 100%;

  height: 40px;
  transition-property: outline-color;
  transition-duration: $transitionDuration;
  transition-timing-function: $timingFunction;

  &:focus {
    cursor: pointer;
    outline-color: $accentColor;
  }
}

.container-icon {
  position: relative;
  width: 100%;
}

.icon-form {
  position: absolute;
  display: inline-block;
  transform: translateY(-50%);
  margin-left: 12px;
  top: 50%;
  left: 0;

  fill: currentColor;
  transition-property: color, fill;
  transition-duration: $transitionDuration;
  transition-timing-function: $timingFunction;
}

.form-input + .icon-form {
  color: $titleTextColor;
}

.form-input:focus + .icon-form {
  cursor: pointer;
  color: $accentColor;
}

.comment {
  margin: 0;
  height: 120px;
  padding: 12px 16px;
  border: $border rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: $fontWeightRegular;
  font-size: $fontSizeSmall;
  line-height: $lineHeightMedium;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  transition-property: outline-color;
  transition-duration: $transitionDuration;
  transition-timing-function: $timingFunction;

  &:focus {
    cursor: pointer;
    outline-color: $accentColor;
  }
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;

  @media screen and (min-width: $desktopWidth) {
    font-size: 14px;
    line-height: 1.71;
  }
}
