.hero {
  width: 100%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/mobile@2x.jpg');
  }

  @media screen and (min-width: $desktopWidth) {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: $tabletWidth) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/tablet.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero/tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: $desktopWidth) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/desktop.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero/desktop@2x.jpg');
    }
  }
}

.hero-content {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1199px) {
    max-width: 360px;
  }

  @media screen and (min-width: $desktopWidth) {
    width: 696px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $primaryWhiteColor;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: $letterSpacingSecondary;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $desktopWidth) {
    font-size: 44px;
    line-height: 1.36;
  }
}
