.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-fon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-content {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $primaryWhiteColor;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: $letterSpacingSecondary;
  margin-left: auto;
  margin-right: auto;
}
