.page-header {
  background-color: $primaryWhiteColor;
  border-bottom: $border #ececec;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

/* Site-nav */

.contacts,
.site-nav {
  @extend %list;
}

.site-nav {
  display: inline-flex;
  margin-left: 93px;

  .item {
    display: block;
  }

  .item + .item {
    margin-left: 50px;
  }

  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $titleTextColor;
    font-weight: $fontWeightMedium;
    line-height: $lineHeightSmall;
    text-decoration: none;

    position: relative;

    transition-property: color;
    transition-duration: $transitionDuration;
    transition-timing-function: $timingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }

  .link.current {
    color: $accentColor;
  }

  .link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;

    position: absolute;
    bottom: -1px;
  }
}

.link {
  display: block;
  height: auto;
  max-width: 100%;
  color: $primaryTextColor;
  fill: currentColor;
}

/* Contacts */

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  .item + .item {
    margin-left: 50px;
  }

  .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $primaryTextColor;
    font-weight: $fontWeightMedium;
    line-height: $lineHeightSmall;
    text-decoration: none;

    transition-property: color, fill;
    transition-duration: $transitionDuration;
    transition-timing-function: $timingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.contact-icon {
  margin-right: 10px;

  transition-property: fill;
  transition-duration: $transitionDuration;
  transition-timing-function: $timingFunction;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}
