.card {
  display: block;
  box-sizing: border-box;
}

.team-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  .title {
    color: $titleTextColor;
    font-weight: $fontWeightMedium;
    font-size: $fontSizeMedium;
    line-height: $lineHeightBig;

    margin-top: 0;
    margin-bottom: 10px;
  }

  .profession {
    color: $primaryTextColor;
    font-weight: $fontWeightRegular;
    font-size: $fontSizeMedium;
    line-height: $lineHeightBig;
    margin: 0;
  }
}

.team-item {
  text-align: center;

  width: 450px;
  margin-bottom: 30px;
  background: $primaryWhiteColor;

  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:nth-child(4n) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tabletWidth) {
    width: 354px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }

    @media screen and (min-width: $desktopWidth) {
      width: 270px;
      margin-right: 30px;
      margin-bottom: 0;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.team-content {
  box-sizing: border-box;
  padding: 30px 32px 24px 32px;
}

.social-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 16px;

  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.social-item {
  margin: 0;
  padding: 0;
}
