.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 320px;

  @media screen and (min-width: $mobileWidth) {
    width: 480px;
  }

  @media screen and (min-width: $tabletWidth) {
    width: 768px;
  }

  @media screen and (min-width: $desktopWidth) {
    width: 1200px;
  }
}
