.filter {
  color: $titleTextColor;
  background-color: $primaryWhiteColor;
  font-weight: $fontWeightMedium;
  font-size: $fontSizeMedium;
  line-height: 1.63;

  display: inline-block;
  width: auto;
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  border: $border transparent;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: $transitionDuration;
  transition-timing-function: $timingFunction;

  &:hover,
  &:focus {
    color: $primaryWhiteColor;
    background-color: $accentColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter.primary {
  color: $primaryWhiteColor;
  background-color: $accentColor;
}

.filter.secondary {
  color: $titleTextColor;
  background-color: $secondaryBgColor;

  &:hover,
  &:focus {
    color: $primaryWhiteColor;
    background-color: $accentColor;
  }
}

.portfolio {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: $tabletWidth) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktopWidth) {
    margin-bottom: 50px;
  }
}

.portfolio .btn + .btn {
  &:nth-child(2n) {
    margin-left: 8px;
  }

  @media screen and (min-width: $mobileWidth) {
    margin-left: 8px;
    &:nth-child(4) {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 767px) {
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: $tabletWidth) {
    &:nth-child(4) {
      margin-left: 8px;
    }
  }
}
