.section.generic {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktopWidth) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.generic-work {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondaryBgColor;

  @media screen and (min-width: $desktopWidth) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  text-align: center;
  color: $titleTextColor;
  font-weight: $fontWeightBold;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;

  @media screen and (min-width: $desktopWidth) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: $lineHeightMedium;
  }
}

.section-title.team {
  text-align: center;
}
