.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $primaryWhiteColor;
  color: $primaryTextColor;
  font-family: $fontFamilyPrimary;
  font-size: $fontSizeSmall;
  line-height: $lineHeightLarge;
  letter-spacing: $letterSpacingPrimary;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
