$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$primaryWhiteColor: #fff;
$secondaryBgColor: #f5f4fa;
$darkBgColor: #2f303a;

$fontFamilyPrimary: 'Roboto', sans-serif;

$transitionDuration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);

$border: 1px solid;

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$lineHeightSmall: 1.14;
$lineHeightMedium: 1.16;
$lineHeightBig: 1.19;
$lineHeightLarge: 1.71;

$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeBig: 18px;

$letterSpacingPrimary: 0.03em;
$letterSpacingSecondary: 0.06em;

$mobileWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 1200px;
